* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

 /* Header */

 .section1{
    display: flex;
    justify-content: space-between;
    padding: 50px 90px 0px 90px;
    width: 100%;
    
}

/* Nav left */

.navleft .fa-magnifying-glass{
    font-size: 15px;
}

.navleft input{
    margin-left: 15px;
    border: none;
    font-size: medium;
}  

.navleft input:focus{
    outline: none;
}

/* End Nav left */

/* Nav Middle */

.navMiddle{
    border: 3px  black;
    border-style: double ;
    font-family: 'Hanalei Fill';
    padding: 10px;
    font-size: 138%;
    margin-left: -7%; 
    margin-top: -1%; 
}

/* End Nav Middle */

/* Nav Right */

.two{
    position: relative;
    top: -17px;
    left: 110px;
    border-radius: 50%;
    background-color: rgb(163, 6, 163);
    color: white;
    padding: 2px 6.5px;
}

.navright i {
    margin: 7px;
    color: gray;
}

.navright i:hover {
    color: black;
}

/* Nav Right */

 /* End Header */

 /* NAV */

.nav1{
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
    margin-top: 50px;
    border-top: 1px solid rgb(231, 231, 231);
    padding-top: 30px;    
}

.nav1 a {
    margin: 0 30px;
    color: black;
    font-family: 'Charmonman';
    font-weight: bold;
}

.nav1 a:hover {
    color: rgb(196, 8, 220);
}

.nav1 .active {
     color:  rgb(196, 8, 220);
    border-bottom: 3px solid  rgb(5, 13, 169);
}

/* End NAV */

/* Div1 */

.link {
    background-color: rgb(245, 244, 244);
    padding: 20px 100px;
    font-family: 'Aclonica';
    font-size: 120%;
}

.link span {
    color: blueviolet;
}

/* End Div1 */

/* BODY */

/* SECTION TAB */

table {
    text-align: center;
    width: 100%;
    border-spacing: 0px;
}

table td {
    font-family: 'Aclonica';
    font-weight: 400;
    font-size: 100%;
    padding: 15px;
    border: 1px solid rgb(179, 179, 179);

}

table thead td {
    text-align: center;
    font-weight: bold;
    font-family: 'Fruktur';
    font-size: 110%;
}

.tab {
    margin: 50px 100px;
}


.eqq {
    display: flex;
    justify-content: center;
}

.eqq button {
    margin: -3px 0;
    padding: 0 10px;
    height: 40px;
    background-color: white;
    border-color: rgb(126, 5, 163);
    color: rgb(126, 5, 163);
    border-radius: 4px;
}

.eqq button:hover {
    color: white;
    background-color: rgb(70, 1, 134);
}

.eqq h3 {
    border: 1px solid rgb(194, 194, 194);
    width: 50px;
    height: 35px;
    text-align: center;
    padding-top: 10px;
}

.x {
    padding: 10px;
    background-color: rgb(125, 4, 146);
    color: white;
    border-radius: 4px;
    font-family: 'Aclonica';
}

/* END SECTION TAB */

/* SECTION UP */

.up {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}

.dat button {
    margin: 10px;
    padding: 8px 70px;
    border-radius: 3px;
}

.d {
    background-color: rgb(97, 6, 139);
    color: white;
    border-color: rgb(97, 6, 139);
    font-family: 'Hanalei Fill';
    font-size: 110%;
}

.d:hover {
    background-color: white;
    color: rgb(97, 6, 139);
    border-color: rgb(97, 6, 139);
}

.t {
    background-color: white;
    color: rgb(97, 6, 139);
    border-color: rgb(97, 6, 139);
    font-family: 'Hanalei Fill';
    font-size: 110%;
}

.t:hover {
    background-color: rgb(97, 6, 139);
    color: white;
    border-color: rgb(97, 6, 139);
}

.olal {
    display: flex;
    justify-content: space-around;
    margin: 0 -30px;
}

.olal h4{
    font-family: 'Charmonman';
}

.out {
    padding: 10px 20px;
    background-color: rgb(97, 6, 139);
    border-color: rgb(97, 6, 139);
    border-radius: 3px;
    font-family: 'Hanalei Fill';
    font-size: 115%;
}

.out:hover {
    background-color: rgb(67, 4, 96);
    border-color: rgb(67, 4, 96);
}

.out a {
    color: white;
}

.pon {
    padding: 5px 7px;
    background-color: rgb(97, 6, 139);
    border-color: rgb(97, 6, 139);
    border-radius: 3px;
    font-family: 'Aclonica';
    color: white;
}

.pon:hover {
    background-color: rgb(67, 4, 96);
    border-color: rgb(67, 4, 96);
}

.hold {
    padding: 5px 50px;
    border-radius: 3px;
    border-color: rgb(198, 198, 198);
    margin-left: 2%;
    font-family: 'Aclonica';
}

.dat h1{
    font-family: 'Vast Shadow';
    margin-left: 2%;
}

.dat h5 {
    color: rgb(174, 174, 174);
    font-family: 'Charmonman';
    margin-left: 2%;
}

.art {
    border-bottom: 1px solid rgb(199, 199, 199);
    font-size: 15px;
    font-family: 'Vast Shadow';
    text-align: right;
}

/* END SECTION UP */
/* END BODY */

/* Footer */

footer {
    display: block;
    margin: 0 50px;
    border-top: 1px solid rgb(231, 231, 231);
    padding-top: 5%;
}

.end {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
}

.en h2 {
    margin-left: 50px;
    font-family: 'Hanalei Fill';
}

.men {
    margin: 0 50px;
    padding: 10px 0;
    font-weight: 200;
    font-size: 140%;
}

.men h4 {
    margin: 10px 0;
    color: rgb(143, 142, 142);
    font-family: 'Charmonman';
}

.div5 h2{
    font-family: 'Hanalei Fill';
}

.div5 a{
    font-family: 'Charmonman';
    font-weight: 200;
    font-size: 120%;
}

.div5 h5{
    font-family: 'Fruktur';
    font-weight: 200;
    font-size: 100%;
}


footer h5 {
    color: rgb(143, 142, 142);
}

.info i {
    color: rgb(138, 9, 155);
    margin: 0 10px;
    font-size: large;
}

.info h2{
    font-family: 'Hanalei Fill';
}

.info h4 {
    color: black;
    font-family: 'Charmonman';
    
}

.email {
    padding: 10px;
    border-radius: 3px;
    border-color: rgba(209, 208, 208, 0.87);
}

.submit {
    padding: 10px;
    color: white;
    background-color: rgb(78, 8, 143);
    border: none;
    border-radius: 3px;
}

.ghazal {
    padding: 100px;
    text-align: center;
    font-family: 'Vast Shadow';
}

/* End Footer */