* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

 /* Header */

 .section1{
    display: flex;
    justify-content: space-between;
    padding: 50px 90px 0px 90px;
    width: 100%;
    
}

/* Nav left */

.navleft .fa-magnifying-glass{
    font-size: 15px;
}

.navleft input{
    margin-left: 15px;
    border: none;
    font-size: medium;
}  

.navleft input:focus{
    outline: none;
}

/* End Nav left */

/* Nav Middle */

.navMiddle{
    border: 3px  black;
    border-style: double ;
    font-family: 'Hanalei Fill';
    padding: 10px;
    font-size: 138%;
    margin-left: -7%; 
    margin-top: -1%; 
}

/* End Nav Middle */

/* Nav Right */

.two{
    position: relative;
    top: -17px;
    left: 110px;
    border-radius: 50%;
    background-color: rgb(163, 6, 163);
    color: white;
    padding: 2px 6.5px;
}

.navright i {
    margin: 7px;
    color: gray;
}

.navright i:hover {
    color: black;
}

/* Nav Right */

 /* End Header */

 /* NAV */

.nav1{
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
    margin-top: 50px;
    border-top: 1px solid rgb(231, 231, 231);
    padding-top: 30px;    
}

.nav1 a {
    margin: 0 30px;
    color: black;
    font-family: 'Charmonman';
    font-weight: bold;
}

.nav1 a:hover {
    color: rgb(196, 8, 220);
}

.nav1 .active {
     color:  rgb(196, 8, 220);
    border-bottom: 3px solid  rgb(5, 13, 169);
}

/* End NAV */

/* Div1 */

.link {
    background-color: rgb(245, 244, 244);
    padding: 20px 100px;
    font-family: 'Aclonica';
    font-size: 120%;
}

.link span {
    color: blueviolet;
}

/* End Div1 */

/* MAIN */

.ret {
    margin: 50px 100px;
    border: 1px solid rgb(196, 196, 196);
    padding: 20px 30px;
    color: rgb(152, 146, 146);
    font-family: 'Fruktur';
    font-size: 130%; 
}

.ret a {
    color: blueviolet;
    font-family: 'Charmonman';
    font-size: 110%;
}

.min {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    margin: 0 100px;
}

.min h1{
    font-family: 'Vast Shadow';
}

.min h4{
    font-family: 'Hanalei Fill';
}

button {
    padding: 5px 10px;
    background-color: rgb(135, 12, 184);
    color: white;
    border-radius: 3px;
    font-family: 'Charmonman';
}

button:hover {
    background-color: blueviolet;
}

.country {
    border: 1px solid rgb(196, 196, 196);
    padding: 20px 70px;
}

.name {
    display: flex;
}

.apply {
    border: 1px solid rgb(196, 196, 196);
    padding: 40px 100px;
    margin-top: -10px;
}

.apply div {
    position: relative;
    right: 70px;
}

input {
    margin: 7px;
    padding: 7px 20px;
    border-radius: 3px;
    border-color: rgb(196, 196, 196);
    text-align: center;
    border-style: double;
    font-family: 'Charmonman';
}

.code {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Vast Shadow';
}

.code h1 {
    margin-top: -20px;
    font-family: 'Vast Shadow';
}

.hmo {
    padding: 7px 130px;
    border-style: double;
    border-color: rgb(196, 196, 196);
    font-family: 'Aclonica';

}

.tel{
    font-family: 'Aclonica';
}

.radio{
    font-family: 'Aclonica';
}

.mh {
    margin-top: 10px;
    padding: 7px 85px;
    border-style: double;
    border-color: rgb(196, 196, 196);
    font-family: 'Audiowide';
    font-size: 110%;
}

textarea {
    border-style: double;
    border-color: rgb(196, 196, 196);
    border-radius: 3px;
    font-family: 'Aclonica';
}

table {
    position: absolute;
    margin: -150px 30px;
}

table th{
    font-family: 'Aclonica';
}
table td {
    border-top: 1px solid rgb(165, 165, 165);
    padding: 20px 50px;
    font-family: 'Audiowide';

}

.tb {
    border: 1px solid rgb(196, 196, 196);
    padding: 200px 0;
    margin-top: -20px;
    width: 103%;
}

.bank {
    position: relative;
    top: 150px;
    left: 28px;
    font-family: 'Fruktur';
}

.bank div {
    padding: 12px 10px;
}


.bank a {
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
}


.link1 {
    padding: 7px 130px;
    color: #6013a8
}

.link2 {
    padding: 7px 147px;
    color: #6013a8
}

.link3 {
    padding: 7px 180px;
    color: #6013a8;
}

.link4 {
    margin-top: 15px;
    margin-left: 10px;
    padding: 7px 130px;
}

.ol {
    font-size: 1rem;
    position: relative;
    background-color: rgb(138, 9, 155);
    border: 1px solid rgb(138, 9, 155);
    padding: 10px;
    border-radius: 10px;
    top: 0;
    transition: top ease 0.3s;
    text-decoration: none;
    color: white;
    padding: 10px 147px;
}

.ol:hover {
    top: -2px;
    box-shadow: 10px 5px 10px gray;

}

/* END MAIN*/

/* Footer */

footer {
    display: block;
    margin: 0 50px;
    border-top: 1px solid rgb(231, 231, 231);
    padding-top: 5%;
}

.end {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
}

.en h2 {
    margin-left: 50px;
    font-family: 'Hanalei Fill';
}

.men {
    margin: 0 50px;
    padding: 10px 0;
    font-weight: 200;
    font-size: 140%;
}

.men h4 {
    margin: 10px 0;
    color: rgb(143, 142, 142);
    font-family: 'Charmonman';
}

.div5 h2{
    font-family: 'Hanalei Fill';
}

.div5 a{
    font-family: 'Charmonman';
    font-weight: 200;
    font-size: 120%;
}

.div5 h5{
    font-family: 'Fruktur';
    font-weight: 200;
    font-size: 100%;
}


footer h5 {
    color: rgb(143, 142, 142);
}

.info i {
    color: rgb(138, 9, 155);
    margin: 0 10px;
    font-size: large;
}

.info h2{
    font-family: 'Hanalei Fill';
}

.info h4 {
    color: black;
    font-family: 'Charmonman';
    
}

.email {
    padding: 10px;
    border-radius: 3px;
    border-color: rgba(209, 208, 208, 0.87);
}

.submit {
    padding: 10px;
    color: white;
    background-color: rgb(78, 8, 143);
    border: none;
    border-radius: 3px;
}

.ghazal {
    padding: 100px;
    text-align: center;
    font-family: 'Vast Shadow';
}

/* End Footer */